body {
    background-color: black;
}
.bt {
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txt {
    border: 3px solid #666;
    padding: .1em;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}
.penes {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}
