body {
    background-color: black;
}
.bt {
    font-size: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txt {
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}