body {
    background-color: rgb(31, 1, 43); 
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.div1 {
    color: aliceblue;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.texto{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 2px solid rgb(207, 201, 165);
    border-radius: 20px;
    padding: .100em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.act{
    border: 6px solid rgb(100, 98, 86);
    border-radius: 10px;
    border-spacing: 50px;
    padding: .100em;
}

.logar{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
.butao{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
    align-items: center;
    justify-content: right;
}